In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data.csv',delimiter=';')

In [20]:
sh = df.shape

In [3]:
df.describe()

,row_num,hour_of_day,agent_id,entry_page,traffic_type
count,988681.000000,988681.000000,988681.000000,988681.000000,988681.000000
mean,494341.000000,13.203988,7.350779,2253.265114,2.773766
std,285407.765084,6.718056,3.869630,775.083390,1.920976
min,1.000000,0.000000,0.000000,2100.000000,1.000000
25%,247171.000000,8.000000,6.000000,2111.000000,1.000000
50%,494341.000000,14.000000,9.000000,2113.000000,2.000000
75%,741511.000000,19.000000,10.000000,2116.000000,4.000000
max,988681.000000,23.000000,15.000000,8101.000000,10.000000

In [4]:
df.dtypes

row_num               int64
locale               object
day_of_week          object
hour_of_day           int64
agent_id              int64
entry_page            int64
path_id_set          object
traffic_type          int64
session_durantion    object
hits                 object
dtype: object

In [9]:
df.path_id_set = df.path_id_set.astype('str')

In [10]:
df['len_path'] = df['path_id_set'].apply(lambda x: len(x.split(';')))

In [11]:
max(df.len_path)

133

In [12]:
df.path_id_set

0                                              31672;0
1                                              31965;0
2                                              0;78464
3                                                51462
4                                              31931;0
5                                                    0
6                                                    0
7                                              34302;0
8                                              34227;0
9                                        42172;0;38715
10                                       0;45069;44232
11                                            463209;0
12                                              9644;0
13                                             34720;0
14                                             31136;0
15                                       0;34387;84765
16                                             79148;0
17                                       0;34602;34604
18                                       34287;0;60579
19                                       0;60961;60326
20                                             46575;0
21                                             31467;0
22                                                   0
23                                             35051;0
24                                             35126;0
25                                             41493;0
26                           0;34984;34421;34415;34998
27                                             0;95235
28                                             75912;0
29                                         0;34389;2;1
                              ...
988651                                           38715
988652                                         93527;0
988653                                         78515;0
988654                                         32149;0
988655                                        463149;0
988656                                         31948;0
988657                                         34307;0
988658                                           75670
988659    443979;84866;0;74102;74018;74091;93757;74017
988660                                   0;32131;92718
988661                                         38715;0
988662                                         32027;0
988663                                        106366;0
988664                                         31914;0
988665                                             nan
988666                                   82668;0;52828
988667                                         75694;0
988668                                         60330;0
988669                                           31518
988670                                         34336;0
988671                                           79178
988672                                         74017;0
988673                                         33685;0
988674                                         44337;0
988675                                         38715;0
988676                                         44232;0
988677                             38715;0;40057;31657
988678                                         15466;0
988679                                        531228;0
988680                                         76673;0
Name: path_id_set, Length: 988681, dtype: object

In [14]:
hash('76673') % 100

58

In [15]:
def simple_hashmap(obj, mapsize=100):
    h = hash(obj)
    return h % mapsize

In [18]:
indices = df.index.values

In [23]:
hsize = 100
hmap = np.zeros((sh[0],hsize))

In [24]:
idx = 0
for row in df.itertuples():
    path = getattr(row, 'path_id_set')
    path = path.split(';')
    for s in path:
        i = simple_hashmap(s, hsize)
        hmap[idx, i] = hmap[idx, i] + 1
    idx = idx + 1

In [27]:
pd.DataFrame(hmap).describe()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
count,988681.000000,988681.000000,988681.000000,988681.000000,988681.000000,988681.000000,988681.000000,988681.000000,988681.000000,988681.000000,...,988681.000000,988681.000000,988681.000000,988681.000000,988681.000000,988681.000000,988681.000000,988681.000000,988681.000000,988681.000000
mean,0.011008,0.006778,0.014195,0.008423,0.021028,0.010784,0.009198,0.010340,0.011256,0.011941,...,0.007147,0.009006,0.010146,0.008704,0.007633,0.008914,0.016350,0.006999,0.008815,0.007094
std,0.105101,0.082306,0.118660,0.091701,0.143879,0.104017,0.095772,0.101468,0.105766,0.108826,...,0.084405,0.094632,0.100667,0.093299,0.087186,0.094303,0.127462,0.083610,0.094098,0.084325
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,4.000000,2.000000,3.000000,3.000000,4.000000,3.000000,3.000000,2.000000,2.000000,3.000000,...,2.000000,3.000000,3.000000,2.000000,2.000000,2.000000,3.000000,2.000000,3.000000,3.000000